@import "tailwindcss";

@theme{
  --color-primary: #D4AF37;
}

html{
  @apply scroll-smooth;
}
::-webkit-scrollbar{
  display: none;
}

/* For Webkit-based browsers (Chrome, Safari, Edge, Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.loader div:nth-child(2){
  animation-delay: 0.2s;
}

.loader div:nth-child(3){
  animation-delay: 0.4s;
}

code{
  white-space: pre-wrap !important;
}
pre{
  border-radius: 10px !important;
}

